main{
  background-color: #070079;
}

section.products{
  width: 600px;
  height: 537px;
  padding: 0 1px;
  display: inline-block;
}

#madeby{
  display: inline-block;
  position: relative;
}

span{
  color: red;
  font-size: 20px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.box:hover span{
  opacity: 1;
}

.box{
  border: 1px solid #000;
  width: 197px;
  height: 260px;
  margin-top: 3px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.discount.high{
  background-color: #2dd12d;
  height: 20px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.discount.low{
  background-color: #c80303;
  height: 20px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.discount.medium{
  background-color: #c4d10a;
  height: 20px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.img{
  height: 260px;
  width: 195px;
}
